.movies {
  display: flex;
  justify-content: center;
  color: rgb(220, 235, 18);
}

.movies .select p {
  font-family: fantasy;
  height: 10px;
  font-size: larger;
  padding-right: 0%;
  margin-right: 0%;
  color: black;
}

.movies .select {
  padding-bottom: 10%;
  max-width: fit-content;
}
