.no-bullets {
    list-style-type: none;
}
.links{
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.links:hover{
background-color: rgba(7, 245, 165, 0.202);
border-radius:  10%;
padding:10px;
}

.tot-LOGO{
    width: 50px;
    height: 50px;
    margin-right:auto;
}

.movieSelect{

    text-align: center;

}

.people{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif

}

.movies{
    text-align: center;

}

.locations{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif

}

button{
    background-color: #4CAF50; 
    border: solid;
    border-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
}


#search{
    background-color: #4CAF50; 
    border: solid;
    border-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

#search:hover{
    background-color: #974c92; 
    border: solid;
    border-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

#movDETS{
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
}


button:hover{
    background-color: #974c92; 
    border: solid;
    border-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;

}

.homePAge{
    
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif


}

.cardContact{
    text-align: center;
    font-size: medium;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.imagePoster{
    max-width: 500px;
    max-height: auto;
    padding-bottom: 100px;

}

.localation-css{
border: solid;
border-radius: 10px;
padding: 10px;
background-color: rgba(127, 255, 212, 0.285);

}
.localation-css:hover{
    border: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(24, 71, 55, 0.285);
    
    }

    .notfounddiv{
        margin-top: 30px;
        font-size: xx-large;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding:30px;
        color: #93151d;
        border: solid;
    }

    .wildCard{
text-align: center;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding:30px;

    }

   #catimage{

    width: 300px;
    height:auto;
    padding: 50px;
   }

@media (min-width: 300px) and (max-width: 768px) {
   

h1{
    font-size: large;
}
.links{
    font-size: small;
}

button{
    background-color: #4CAF50; 
    border: solid;
    border-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
}


#movDETS{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover{
    background-color: #974c92; 
    border: solid;
    border-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;

}


#search:hover{
    background-color: #974c92; 
    border: solid;
    border-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}


.homePAge{
    
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
}


.cardContact{
    text-align: center;
    font-size: small;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}



.imagePoster{
    max-width: 250px;
    max-height: auto;
    padding-bottom: 50px;
}


.localation-css{
    border: solid;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(127, 255, 212, 0.285);
    font-size: small;
    
    }
    .localation-css:hover{
        border: solid;
        border-radius: 10px;
        padding: 5px;
        background-color: rgba(24, 71, 55, 0.285);
        font-size: small;

        }


    .notfounddiv{
        margin-top: 30px;
        font-size: medium;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding:10px;
        color: #93151d;
        border: solid;
    }


  }