nav {
  transition: height 0ms 400ms, opacity 400ms 0ms;
  display: grid;
  justify-content: space-around;
  background: #d9ae10;
  padding: .5em;
  margin-bottom: 2em;
  font-family:fantasy;
  overflow: hidden;  
  box-sizing: content-box;
}

nav a {
  text-decoration: none;
  font-size: 2em;
  color: rgb(226, 128, 128);
}

nav img {
  height: 50px;
  width: 50px;
}

main {
  margin-top: 15em;
  text-align: center;
}

section,
h2 {
  font-family:fantasy;
  margin-top: 5em;
  width: 45%;
  margin: auto;
  text-align: center;
  
}

li {
  font-size: 1em;
  font-family: fantasy;
}

.details li {
  list-style: none;
  margin: 0.5em 0;
  align-self: center;
}

.details li span:first-child {
  font-weight: bold;
}

ul li::marker {
  font-size: 150%;
  color: #ecedee;
  opacity: 0;
}

p{
  color: red;
  font-style: oblique;
  font-style: bold;
}

 
 
 :root{
 --skeleton-animation: url("data:image/svg+xml;charset=utf-8,%3Csvg width='600' height='900' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='shimmer'%3E%3Cstop offset='0%25' stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='50%25' stop-color='%23fff' stop-opacity='.75'/%3E%3Cstop offset='100%25' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes skeleton-loading{to{transform:translateX(100%25)}}%3C/style%3E%3C/defs%3E%3Cpath style='fill:url(%23shimmer);transform:translateX(-100%25);animation:skeleton-loading 1.5s infinite' d='M0 0h600v900H0z'/%3E%3C/svg%3E")
}