body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #517e94;
  padding: 1em;
  margin-bottom: 2em;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  font-size: 2em;
  /* color: white; */
  color: #6ad5ff;
}

nav img {
  height: 50px;
}

main {
  margin-top: 1em;
  text-align: center;
}

section,
h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

li {
  font-size: 1em;
}

.locations {
  background: ghostwhite;
  padding: 1em;
  min-height: 80vh;
}

.locations > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0;
  gap: 10px;
}

.locations ul > li {
  background: lemonchiffon;
  width: 26%;
  padding: 2em 5px;
}

.locations ul > li > ul {
  margin-left: 0;
  margin: 0 auto;
  list-style: none;
  box-sizing: border-box;
}

.locations ul > li > ul li {
  width: 90%;
  margin: 0 auto;
  margin-top: 8px;
  background: ghostwhite;
  display: flex;
}

.locations ul > li > ul li span {
  text-align: center;
  display: inline-block;
  width: 50%;
}
.details li {
  list-style: none;
  margin: 0.5em 0;
  align-self: center;
}

.details li span:first-child {
  font-weight: bold;
}

.people {
  background: lemonchiffon;
  height: 80vh;
  padding-top: 1em;
}

.people aside {
  background: ghostwhite;
  width: 80%;
  min-height: 50%;
  margin: auto;
}

.people aside h3 {
  padding-top: 1em;
}

.people span,
.movies span {
  font-weight: bold;
}

.movies {
  padding-top: 1em;
  height: 80vh;
  background: #d7f0f2;
}

.movies aside {
  background: aliceblue;
  width: 90%;
  margin: auto;
  padding: 1em;
}

ul li::marker {
  font-size: 150%;
  color: #517e94;
  opacity: 0;
}

.movie img {
  height: 500px;
}
ul {
  list-style: none;
  padding-left: 0;
}

button {
  margin-top: 1em;
  padding: 5px 18px;
}
input,
select {
  margin-top: 1em;
  height: 25px;
}

.home img {
  width: 70%;
}

.img-wrapper {
  width: 90%;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}
.movie img {
  display: block;
  width: 70%;
  height: auto;
  margin: 20px auto;
}
nav {
  margin-bottom: 0;
}
main {
  margin-top: 0;
}
.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.movie-list li {
  border: 2px solid rgb(91, 28, 230);
  border-radius: 5px;
}

.movie-list li:hover {
  cursor: pointer;
}

.movie-list li img {
  display: block;
  width: 100%;
  height: auto;
  border: rgb(91, 28, 230);
}

.movies #default-img {
  width: 50%;
}

select {
  display: block;
  margin: 0 auto;
}
